<% @articles.each do |article| %>
  <h3>
    <%= link_to article_path(article) do %>
      <%= article.title %>
    <% end %>
  </h3>
<% end %>
<%= link_to new_article_path do %>Make a new article <% end %>
